.zdjecia {
  width: 250px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 50px;
  border-radius: 20px;
  height: auto;
  cursor: pointer;
  transition: filter 1s;
}

.zdjecia.sepia {
  filter: sepia(90%);
}

.zdjecia.gray {
  filter: grayscale(100%);
}

.zdjecia.blur {
  filter: blur(4px);
}
