.zdjecia{
    width: 250px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.zdjecia.zoom{
    transform: scale(2);
}