.zdjecia {
  width: 250px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 50px;
  border-radius: 20px;
  height: auto;
  cursor: pointer;
  transition: transform 1s;
}

.zdjecia.rotate {
  transform: rotate(180deg);
}

.zdjecia.translate {
  transform: translate(40px, 20px);
}

.zdjecia.scale {
  transform: scale(1.3);
}
