.zdjecia{
    width: 250px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    cursor: pointer;
    opacity: 0.33;
    transition: transform 0.2s ease;
}

.zdjecia.opacity{
    opacity: 1;
}